*{
    margin: 0;
    padding: 0;

}

th, td {
    padding: 5px;
    text-align: left;
    background-color: rgb(242, 242, 242);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, 0.564);
}

img{
    width: 1072px;
    height: 1072px;
}